<section id="login">
    <section id="section1">
        <form action="" method="post">
            <h2>Veuillez vous connecter</h2>
            <input type="email" name="email" class="input" required>
            <label for="email" class="label item1">nom@example.com</label>
            <input type="password" name="password" class="input" minlength="8" required>
            <label for="password" class="label item2">Mot de passe</label>
                <p class="passwordText_item1">Identifiant ou mot de passe oublié ?</p>
                <p class="passwordText_item2">Cheh, recréer un autre compte.</p>
            <input type="submit" value="Connection">
        </form>
    </section>
    <div class="between"></div>
    <section id="section2">
        <form action="" method="post">
            <h2>Créer votre identifiant</h2>
            <input type="text" name="surname" class="input" minlength="3" required>
            <label for="surname" class="label item1">Prénom</label>
            <input type="text" name="name" class="input" minlength="3" required>
            <label for="name" class="label item2">Nom de famille</label>
            <input type="email" name="email" class="input" required>
            <label for="email" class="label item3">nom@example.com</label>
            <input type="password" name="password" class="input" minlength="8" required>
            <label for="password" class="label item4">Mot de passe</label>
            <input type="password" name="password_confirm" class="input" minlength="8" required>
            <label for="password_confirm" class="label item5">Confirmer le mot de passe</label>
            <input type="submit" value="Connection">
        </form>
    </section>
</section>